@import "./configs";
@import "node_modules/bootstrap/scss/bootstrap.scss";

* {
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.content-visibility-visible {
  content-visibility: visible;
}

.content-visibility-hidden {
  content-visibility: hidden;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

.card.box-shadow {
  border: none;
  box-shadow: $box-shadow;
  border-radius: 6px;
}
